body{
    color: white;
    background-color: #d8da3d;
    
}
#seccion1{
    font-size: 60px;
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2017/03/04/12/15/programming-2115930_1280.jpg);
    background-size:contain;
}

#proyectos {
    display: grid;
    grid-template-columns: auto auto ;
}
.proyecto img {
    height: 100px;
}